<header class="sticky-top">
    <img src="" alt="">
<aside>
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="3" y1="14" x2="27" y2="14" stroke="black"/>
        <line x1="3" y1="20" x2="27" y2="20" stroke="black"/>
        <line x1="3" y1="8" x2="27" y2="8" stroke="black"/>
    </svg>
</aside>
    <div>
    <a routerLink="register" *ngIf="!userIsRegistered"><button class="button1">Registrarse</button></a>
    <a routerLink="login"><button class="button1">Login</button></a>
    </div>
</header>

