header{
    
    flex-shrink: 0;
    border: 1px solid #000;
    background: #694795;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

aside{
    display: flex;
    justify-content: center;
    background-color: #694795;
}


div{
    display: flex;
    align-items: flex-end;
    align-self: center;
    justify-content: space-around;
    background-color: #694795;
    height: 80%;
    width: 60%;
}

.button1{

    width: 72px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #6B596F;
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    
    
}

img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; 
    backdrop-filter: blur(15px); 
    background-color: #694795;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;

}

  
.side-menu.open {
    left: 0;
    backdrop-filter: blur(10px);
}
  
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.side-menu li {
    padding: 10px 15px;
    border-bottom: 1px solid #555;
}
  
.side-menu li:last-child {
    border-bottom: none;
}
  
.side-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
  
.side-menu a:hover {
    color: #ff9900;
}

.menuImg{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding :20px
}
  




