<body>
    
  <div class="div1">

  <app-slide></app-slide>

  </div>
  
  <aside>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae distinctio
      qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor maiores
      ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores amet
    </p>
  </aside>

</body>
  