<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    
<div class="div1">

    <carousel>
        <slide>
          <img src="assets/c4c60bbf-9ebc-45f8-acc9-834b18f2a26f.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/Captura de pantalla 2023-07-30 131554.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/videojuego-nintendo-gameboy-advance-zelda-a-link-to-the-past-four-swords.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

</div>
  
  <aside>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae distinctio
      qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor maiores
      ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores ametLorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, et molestiae magnam iste repudiandae
      distinctio qui consequuntur temporibus fugiat repellendus maxime? Minima earum eligendi exercitationem iure dolor
      maiores amet
    </p>
  </aside>

</body>
  