<body>
    
    <div class="container">
        <div class="card">

                <div class="imgContainer">
                    <img src="assets/c4c60bbf-9ebc-45f8-acc9-834b18f2a26f.jpg" alt="asdf">
                </div>
                <div class="text">
                    <p class="title">Super Mario 64</p>
                    <p class="price">80 €</p>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis optio impedit natus eveniet est molestiae excepturi, consequuntur voluptatem expedita non alias quis iste magni tenetur ullam eum perferendis dolore?</p>
                </div>
                <aside class="buttonContainer">
                    <button>Comprar</button>
                </aside>

        </div>
    </div>

</body>